
h1.big{
  color: black;
  text-align: center;
  font-size: 80px;
  letter-spacing: 10px;
  margin-bottom: 30px;
}
#countdown{
  width: 850px;
  margin: 15% auto;
}
#clock span{
  float: left;
  text-align: center;
  font-size: 84px;
  margin: 2.5%;
  margin top:30px;
  color: red;
  padding: 20px;
  width: 20%;
  border-radius: 100px;
  box-sizing: border-box;
  background: white;
}

#clock:after{
  content: "";
  display: block;
  clear: both;
}
#units span{
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 30px;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}

#time span{
   width: 100px;
}



#sliderNum span{
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  text-align: center;
  font-size: 35px;
  color: black;
}

span.turn{
  animation: turn 0.7s ease forwards;
}

@keyframes turn{
  0%{transform: rotateX(0deg)}
  100%{transform: rotateX(360deg)}
}

#buttons input {
  position: relative;
  text-align: center;
  width: 10%;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  left: 290px;
}

#sliders input{
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 75px;
  left: 40px
}
