html {background: #282e3a;}

body {
  padding: 50px 0;
  margin: 0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
  background: fixed;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  background: #292929;
  border-radius: 8px;

}

a {
  color: #069;
  text-decoration: none;
}

p {
  margin: 0 0 20px;
  padding: 0;
}

header {

  border-radius: 8px 8px 0 0;
  background: #547980;
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid #B2D2E1;
}
header h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 1.2;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}


img{
  height: 100px;
  width: 100px;
  clear: both;
}


header.title-margin h1 {margin: 100px 0;}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
  height: 40px;
  padding: 1px 0;
  background: #639099;
  border-radius: 7px;
  width: auto;
}

header ul li {
  width: 79px;
  float: left;
  border-right: 1px solid #3A7CBE;
  height: 38px;
}

header ul li + li {
  width: 78px;
  border-left: 1px solid #8BBEF3;
}

header ul li + li + li {
  border-right: none;
  width: 79px;
}

header ul a {
  line-height: 2;
  font-size: 15px;
  color: #fff;
  display: block;
  text-align: center;
  font-weight: 400;
  padding-top: 6px;
  height: 40px;

}

section {
  padding: 15px 20px;
  font-size: 15px;
  border-top: 1px solid #fff;
  background: #d9d9d9;
  border-radius: 0 0 8px 8px;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
}

footer {
  width: 640px;
  margin: 100px auto;
  padding: 20px 0 0;
  color: #white;
  overflow: hidden;
}

.menu li:hover{
  background: black;
  border-radius: 7px;
}

strike {
  color: grey;

}
