#calc {
	width: 400px;
	height: 500px;
	margin: 100px 270px 50px;
	padding: 20px 20px 20px;
	background: teal;
	border-radius: 7px;
}

.calc-head span.reset { float:left; }

.calc-head .screen {
	width: 200px;
	height: 60px;
	border-radius: 7;

	float: right;
	padding: 0 50px;
	background: #FFECCF;

	font-size: 30px;
	line-height: 40px;
	color: black;
	text-align: right;


}

.calc-body, .calc-head{ overflow:hidden; }

.calc-body span, .calc-head span.reset {
	float:left;
	position:relative;
	top: 0;

	cursor: pointer;
	width: 90px;
	height: 60px;

	background: white;
	border-radius: 7px;
	margin: 0 10px 15px 0;

	font-size: 30px;
	text-align: center;
	color: black;
	line-height: 40px
}

.calc-body span.operator {
	background: grey;
	margin-right 0;
}

.calc-body span.solve {
	background: green;
	color: white;
}

.calc-body span.solve:hover {
	background: cyan;
	color: black;

}

.calc-body span.solve:active {top:4px;}

.calc-head span.reset {
	background: pink;
	color: black;
}

.calc-head span.reset:hover {
	background: orange;
	color: white;
}

.calc-head span.reset:active{ top:4px; }

.calc-body span:hover {
	background: black;
	color: white;
}

.calc-body span:active { top:4px; }